<a href="https://colab.research.google.com/github/santosh143143/Data-Science-Trainer-Assignment/blob/main/Data_Science_Trainer_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [108]:
import numpy as np
import pandas as pd

In [109]:
df1 = pd.read_excel('/content/Cleaned Data.xlsx', sheet_name='Sheet1')
df2 = pd.read_excel('/content/Cleaned Data.xlsx', sheet_name='Sheet2')

In [110]:
print(df1)

    S No           Name            Team Name  User ID
0      1      Soumita M  Winning Culture Lab      280
1      2     Subhangi 0  Winning Culture Lab       75
2      3    Nitin Shane  Winning Culture Lab     1124
3      4         Merwin               Mentor      295
4      5  fardinkamal62    Human Capital Lab      263
5      6  __riddhi_213_    Human Capital Lab      504
6      7    Rohit Dutta               Mentor      266
7      8       imshawan             Tech Lab       71
8      9   Anuraj_Saini        BrandTech Lab      342
9     10        sharath  Student Unicorn Lab     3367
10    11        Ronak 0             Tech Lab      302
11    12  Amrit Malviya        Brandtech Lab      336
12    13        Saurabh               Mentor      271
13    14    darshimalde  Student Unicorn Lab     3169
14    15         Shagun             Tech Lab      100
15    16         Ayisha  Student Unicorn Lab     3406
16    17         Palash            Growpital       69
17    18          raman            Growpital      539
18    19        Nishant            Growpital      299
19    20         Vatsal              Kringle     3408
20    21       devmenkr              Kringle      360

In [111]:
df2 = df2.drop(['Statement 1', 'Statement 2', 'Statement 3','Statement 4','Statement 5','Statement 6','Statement 7','Statement 8','Statement 9','Statement 10','Statement 11','Statement 12','Statement 13','Statement 14','Statement 15','Statement 16'], axis=1)  # removes columns with the specified names

In [112]:
print(df2)

    S No           name   uid  total_statements  total_reasons
0      1      Soumita M   280                13             21
1      2     Subhangi 0    75                13             16
2      3    Nitin Shane  1124                12             11
3      4         Merwin   295                13             12
4      5  fardinkamal62   263                 2              2
5      6  __riddhi_213_   504                 2              7
6      7    Rohit Dutta   266                 3              3
7      8       imshawan    71                 9              9
8      9   Anuraj_Saini   342                 7              7
9     10        sharath  3367                 8              8
10    11        Ronak 0   302                16             19
11    12  Amrit Malviya   336                 2              4
12    13        Saurabh   271                 6              8
13    14    darshimalde  3169                 3              3
14    15         Shagun   100                 2              2
15    16         Ayisha  3406                11              8
16    17         Palash    69                 6              7
17    18          raman   539                 5              5
18    19        Nishant   299                 4              5
19    20         Vatsal  3408                 2              2
20    21       devmenkr   360                 7              7

In [113]:
df = df1.merge(df2, on='S No', suffixes=('_left', '_right'))
df = df.drop(columns=['name','User ID'])

In [114]:
print(df)

    S No           Name            Team Name   uid  total_statements  \
0      1      Soumita M  Winning Culture Lab   280                13
1      2     Subhangi 0  Winning Culture Lab    75                13
2      3    Nitin Shane  Winning Culture Lab  1124                12
3      4         Merwin               Mentor   295                13
4      5  fardinkamal62    Human Capital Lab   263                 2
5      6  __riddhi_213_    Human Capital Lab   504                 2
6      7    Rohit Dutta               Mentor   266                 3
7      8       imshawan             Tech Lab    71                 9
8      9   Anuraj_Saini        BrandTech Lab   342                 7
9     10        sharath  Student Unicorn Lab  3367                 8
10    11        Ronak 0             Tech Lab   302                16
11    12  Amrit Malviya        Brandtech Lab   336                 2
12    13        Saurabh               Mentor   271                 6
13    14    darshimalde  Student Unicorn Lab  3169                 3
14    15         Shagun             Tech Lab   100                 2
15    16         Ayisha  Student Unicorn Lab  3406                11
16    17         Palash            Growpital    69                 6
17    18          raman            Growpital   539                 5
18    19        Nishant            Growpital   299                 4
19    20         Vatsal              Kringle  3408                 2
20    21       devmenkr              Kringle   360                 7

    total_reasons
0              21
1              16
2              11
3              12
4               2
5               7
6               3
7               9
8               7
9               8
10             19
11              4
12              8
13              3
14              2
15              8
16              7
17              5
18              5
19              2
20              7

In [115]:
team_stats = df.groupby(df['Team Name'].str.lower()).agg({'total_statements': 'mean', 'total_reasons': 'mean'}).reset_index()

In [116]:
team_stats = team_stats.sort_values(by='total_statements', ascending=False).reset_index(drop=True)

In [117]:
team_stats['Team Rank'] = team_stats.index + 1

In [118]:
cols = team_stats.columns.tolist()
cols = [cols[3], cols[0], cols[1], cols[2]]
team_stats = team_stats[cols]

In [119]:
team_stats['total_statements'] = round(team_stats['total_statements'], 2)
team_stats['total_reasons'] = round(team_stats['total_reasons'], 2)

In [103]:
from google.colab import files
team_stats.to_csv('Leaderboard TeamWise (Output).csv', index=False)
files.download('Leaderboard TeamWise (Output).csv')

In [121]:
df['first_letter'] = df['Name'].apply(lambda x: x[2].lower() if x.startswith('__') else x[0].lower())
df = df.assign(sum_total=df['total_statements'] + df['total_reasons']).sort_values(['sum_total', 'first_letter', 'Name'], ascending=[False, True, False])
df = df.drop('first_letter', axis=1)

In [122]:
print(df)

    S No           Name            Team Name   uid  total_statements  \
10    11        Ronak 0             Tech Lab   302                16
0      1      Soumita M  Winning Culture Lab   280                13
1      2     Subhangi 0  Winning Culture Lab    75                13
3      4         Merwin               Mentor   295                13
2      3    Nitin Shane  Winning Culture Lab  1124                12
15    16         Ayisha  Student Unicorn Lab  3406                11
7      8       imshawan             Tech Lab    71                 9
9     10        sharath  Student Unicorn Lab  3367                 8
8      9   Anuraj_Saini        BrandTech Lab   342                 7
20    21       devmenkr              Kringle   360                 7
12    13        Saurabh               Mentor   271                 6
16    17         Palash            Growpital    69                 6
17    18          raman            Growpital   539                 5
18    19        Nishant            Growpital   299                 4
5      6  __riddhi_213_    Human Capital Lab   504                 2
11    12  Amrit Malviya        Brandtech Lab   336                 2
13    14    darshimalde  Student Unicorn Lab  3169                 3
6      7    Rohit Dutta               Mentor   266                 3
4      5  fardinkamal62    Human Capital Lab   263                 2
14    15         Shagun             Tech Lab   100                 2
19    20         Vatsal              Kringle  3408                 2

    total_reasons  sum_total
10             19         35
0              21         34
1              16         29
3              12         25
2              11         23
15              8         19
7               9         18
9               8         16
8               7         14
20              7         14
12              8         14
16              7         13
17              5         10
18              5          9
5               7          9
11              4          6
13              3          6
6               3          6
4               2          4
14              2          4
19              2          4

In [142]:
df = df.reset_index(drop=True)  # reset index
df.insert(0, 'Rank', range(1, len(df) + 1))  # add Rank column at the beginning
df = df[['Rank', 'Name', 'uid', 'total_statements', 'total_reasons']]  # reorder columns
print(df)

    Rank           Name   uid  total_statements  total_reasons
0      1        Ronak 0   302                16             19
1      2      Soumita M   280                13             21
2      3     Subhangi 0    75                13             16
3      4         Merwin   295                13             12
4      5    Nitin Shane  1124                12             11
5      6         Ayisha  3406                11              8
6      7       imshawan    71                 9              9
7      8        sharath  3367                 8              8
8      9   Anuraj_Saini   342                 7              7
9     10       devmenkr   360                 7              7
10    11        Saurabh   271                 6              8
11    12         Palash    69                 6              7
12    13          raman   539                 5              5
13    14        Nishant   299                 4              5
14    15  __riddhi_213_   504                 2              7
15    16  Amrit Malviya   336                 2              4
16    17    darshimalde  3169                 3              3
17    18    Rohit Dutta   266                 3              3
18    19  fardinkamal62   263                 2              2
19    20         Shagun   100                 2              2
20    21         Vatsal  3408                 2              2

In [143]:
from google.colab import files
df.to_csv('Leaderboard Individual (Output).csv', index=False)
files.download('Leaderboard Individual (Output).csv')